# FLIP (00): Data Science 
**(Module 02: Data Visualization)**

---
- Materials in this module include resources collected from various open-source online repositories.
- You are free to use,but NOT allowed to change and distribute this package.

Prepared by and for 
**Student Members** |
2006-2018 [TULIP Lab](http://www.tulip.org.au), Australia

---


# Session H - Time Series

This lesson, we will learn how to handle time data with a stock case,including reading the time series,DateOffset and TimeDelta,Time Series Function.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

sns.set_style('whitegrid')
%matplotlib inline
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

### Read the time series

In [8]:
import wget
#数据在data文件夹里面
link_to_data = pd.read_csv(r'data\gertek_2016_d.csv')
#DataSet = wget.download(link_to_data)

,date,open,high,close,low,...,ma10,ma20,v_ma5,v_ma10,v_ma20
0,2016-12-23,3333.400,3334.890,3307.600,3300.880,...,3349.948,3429.937,93437446.4,110550392.0,139164898.4
1,2016-12-22,3335.120,3340.360,3335.670,3322.720,...,3368.558,3440.622,92103587.2,115836250.4,141973738.0
2,2016-12-21,3313.750,3342.480,3338.540,3313.750,...,3382.005,3448.276,96640270.4,118346918.4,144647190.8
3,2016-12-20,3328.300,3329.100,3309.060,3289.270,...,3395.726,3455.085,99790819.2,118955928.8,147353865.6
4,2016-12-19,3342.340,3344.860,3328.980,3325.000,...,3410.735,3463.050,106497921.6,121751879.2,151401558.8
...,...,...,...,...,...,...,...,...,...,...,...
232,2016-01-08,3371.871,3418.851,3361.563,3237.931,...,3596.749,3681.449,130703180.8,123651742.4,141988050.4
233,2016-01-07,3481.150,3481.150,3294.384,3284.737,...,3643.533,3694.525,113886000.0,119773936.0,138700858.8
234,2016-01-06,3482.406,3543.739,3539.808,3468.467,...,3700.733,3711.603,126191462.4,136065387.2,142161998.0
235,2016-01-05,3382.177,3518.217,3478.780,3377.280,...,3734.425,3715.763,117375344.0,139499139.2,141152744.8
236,2016-01-04,3725.856,3726.245,3469.066,3468.949,...,3773.143,3726.205,115749635.2,145030968.0,138741052.8

In [10]:
goertek=pd.read_csv('data\gertek_2016_d.csv')
goertek.head()

,date,open,high,close,low,...,ma10,ma20,v_ma5,v_ma10,v_ma20
0,2016-12-23,3333.40,3334.89,3307.60,3300.88,...,3349.948,3429.937,93437446.4,110550392.0,139164898.4
1,2016-12-22,3335.12,3340.36,3335.67,3322.72,...,3368.558,3440.622,92103587.2,115836250.4,141973738.0
2,2016-12-21,3313.75,3342.48,3338.54,3313.75,...,3382.005,3448.276,96640270.4,118346918.4,144647190.8
3,2016-12-20,3328.30,3329.10,3309.06,3289.27,...,3395.726,3455.085,99790819.2,118955928.8,147353865.6
4,2016-12-19,3342.34,3344.86,3328.98,3325.00,...,3410.735,3463.050,106497921.6,121751879.2,151401558.8

In [11]:
type(goertek['date'])

pandas.core.series.Series

In [13]:
type(goertek['date'][0])

str

In [14]:
goertek['date']=pd.to_datetime(goertek['date'])
type(goertek['date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [15]:
goertek=goertek.set_index('date')
goertek.head()

,open,high,close,low,volume,...,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,
2016-12-23,3333.40,3334.89,3307.60,3300.88,97444712.0,...,3349.948,3429.937,93437446.4,110550392.0,139164898.4
2016-12-22,3335.12,3340.36,3335.67,3322.72,92277248.0,...,3368.558,3440.622,92103587.2,115836250.4,141973738.0
2016-12-21,3313.75,3342.48,3338.54,3313.75,108255000.0,...,3382.005,3448.276,96640270.4,118346918.4,144647190.8
2016-12-20,3328.30,3329.10,3309.06,3289.27,87569592.0,...,3395.726,3455.085,99790819.2,118955928.8,147353865.6
2016-12-19,3342.34,3344.86,3328.98,3325.00,81640680.0,...,3410.735,3463.050,106497921.6,121751879.2,151401558.8

In [16]:
type(goertek.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [18]:
goertek=pd.read_csv('data/gertek_2016_d.csv',index_col='date',parse_dates=True)
goertek.head()

,open,high,close,low,volume,...,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,
2016-12-23,3333.40,3334.89,3307.60,3300.88,97444712.0,...,3349.948,3429.937,93437446.4,110550392.0,139164898.4
2016-12-22,3335.12,3340.36,3335.67,3322.72,92277248.0,...,3368.558,3440.622,92103587.2,115836250.4,141973738.0
2016-12-21,3313.75,3342.48,3338.54,3313.75,108255000.0,...,3382.005,3448.276,96640270.4,118346918.4,144647190.8
2016-12-20,3328.30,3329.10,3309.06,3289.27,87569592.0,...,3395.726,3455.085,99790819.2,118955928.8,147353865.6
2016-12-19,3342.34,3344.86,3328.98,3325.00,81640680.0,...,3410.735,3463.050,106497921.6,121751879.2,151401558.8

In [19]:
type(goertek.index)

pandas.core.indexes.datetimes.DatetimeIndex

### DateOffset and TimeDelta

In [23]:
lastday=pd.datetime(2016,12,31)
lastday

c:\users\123\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  """Entry point for launching an IPython kernel.

datetime.datetime(2016, 12, 31, 0, 0)

In [24]:
newyear=lastday+pd.DateOffset(days=1)
newyear

Timestamp('2017-01-01 00:00:00')

In [25]:
today=pd.datetime.now()
today

c:\users\123\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  """Entry point for launching an IPython kernel.

datetime.datetime(2020, 9, 29, 18, 47, 46, 677896)

In [29]:
today+pd.DateOffset(weeks=1)

Timestamp('2020-10-06 18:47:46.677896')

In [30]:
today+2*pd.DateOffset(years=2, months=6)

Timestamp('2025-09-29 18:47:46.677896')

In [31]:
import datetime

In [32]:
weekDelta=datetime.timedelta(weeks=1)
weekDelta

datetime.timedelta(days=7)

In [33]:
datetime.timedelta(7)

datetime.timedelta(days=7)

In [34]:
today=pd.datetime.now()

c:\users\123\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  """Entry point for launching an IPython kernel.

In [35]:
today+weekDelta

datetime.datetime(2020, 10, 6, 18, 49, 10, 27981)

### Time Series Function

In [36]:
goertek=goertek.sort_index(ascending=True)
goertek.head()

,open,high,close,low,volume,...,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,
2016-01-04,3725.856,3726.245,3469.066,3468.949,115370672.0,...,3773.143,3726.205,115749635.2,145030968.0,138741052.8
2016-01-05,3382.177,3518.217,3478.780,3377.280,162116992.0,...,3734.425,3715.763,117375344.0,139499139.2,141152744.8
2016-01-06,3482.406,3543.739,3539.808,3468.467,145966144.0,...,3700.733,3711.603,126191462.4,136065387.2,142161998.0
2016-01-07,3481.150,3481.150,3294.384,3284.737,44102640.0,...,3643.533,3694.525,113886000.0,119773936.0,138700858.8
2016-01-08,3371.871,3418.851,3361.563,3237.931,185959456.0,...,3596.749,3681.449,130703180.8,123651742.4,141988050.4

In [43]:
goertek.tail()

,open,high,close,low,volume,...,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,
2016-12-19,3342.34,3344.86,3328.98,3325.00,81640680.0,...,3410.735,3463.050,106497921.6,121751879.2,151401558.8
2016-12-20,3328.30,3329.10,3309.06,3289.27,87569592.0,...,3395.726,3455.085,99790819.2,118955928.8,147353865.6
2016-12-21,3313.75,3342.48,3338.54,3313.75,108255000.0,...,3382.005,3448.276,96640270.4,118346918.4,144647190.8
2016-12-22,3335.12,3340.36,3335.67,3322.72,92277248.0,...,3368.558,3440.622,92103587.2,115836250.4,141973738.0
2016-12-23,3333.40,3334.89,3307.60,3300.88,97444712.0,...,3349.948,3429.937,93437446.4,110550392.0,139164898.4

In [45]:
goertek.shift(1).head(3)#shift(1)把数据向下移动一位

,open,high,close,low,volume,...,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,
2016-01-04,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
2016-01-05,3725.856,3726.245,3469.066,3468.949,115370672.0,...,3773.143,3726.205,115749635.2,145030968.0,138741052.8
2016-01-06,3382.177,3518.217,3478.780,3377.280,162116992.0,...,3734.425,3715.763,117375344.0,139499139.2,141152744.8

In [1]:
#改不出来

goertek.shift(1,freq=pd.datetools.bday).head(3)

NameError: name 'goertek' is not defined

In [49]:
goertek.asfreq('BM')

,open,high,close,low,volume,...,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,
2016-01-29,2855.598,2965.309,2946.090,2854.371,113304256.0,...,3052.263,3178.529,110646072.0,111380396.8,122499499.2
2016-02-29,2939.580,2939.875,2877.467,2821.215,129341024.0,...,3026.766,2982.232,123694110.4,121202825.6,108902741.2
2016-03-31,3229.200,3241.927,3218.088,3208.665,121552072.0,...,3200.245,3138.345,107497318.4,138788992.8,129922554.0
2016-04-29,3153.537,3171.289,3156.745,3149.397,58029776.0,...,3180.772,3210.231,62888933.6,83644518.0,103044368.2
2016-05-31,3068.596,3170.926,3169.559,3068.596,138863104.0,...,3078.173,3094.970,75895244.0,69714819.6,74371733.0
...,...,...,...,...,...,...,...,...,...,...,...
2016-07-29,3217.192,3225.418,3203.930,3198.683,88044840.0,...,3236.933,3235.643,102453550.4,95620234.4,112470896.4
2016-08-31,3310.565,3333.972,3327.793,3304.655,79570808.0,...,3330.161,3305.741,82890593.6,95886160.0,107540506.4
2016-09-30,3240.177,3260.940,3253.284,3239.036,44978024.0,...,3254.355,3279.082,54814162.4,57857660.8,72046803.6
2016-10-31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
2016-11-30,3557.640,3567.070,3538.000,3527.020,178560192.0,...,3488.535,3439.146,184444368.0,163708126.4,151030986.4

In [57]:
goertek.asfreq('H',method='ffill')

,open,high,close,low,volume,...,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,
2016-01-04 00:00:00,3725.856,3726.245,3469.066,3468.949,115370672.0,...,3773.143,3726.205,115749635.2,145030968.0,138741052.8
2016-01-04 01:00:00,3725.856,3726.245,3469.066,3468.949,115370672.0,...,3773.143,3726.205,115749635.2,145030968.0,138741052.8
2016-01-04 02:00:00,3725.856,3726.245,3469.066,3468.949,115370672.0,...,3773.143,3726.205,115749635.2,145030968.0,138741052.8
2016-01-04 03:00:00,3725.856,3726.245,3469.066,3468.949,115370672.0,...,3773.143,3726.205,115749635.2,145030968.0,138741052.8
2016-01-04 04:00:00,3725.856,3726.245,3469.066,3468.949,115370672.0,...,3773.143,3726.205,115749635.2,145030968.0,138741052.8
...,...,...,...,...,...,...,...,...,...,...,...
2016-12-22 20:00:00,3335.120,3340.360,3335.670,3322.720,92277248.0,...,3368.558,3440.622,92103587.2,115836250.4,141973738.0
2016-12-22 21:00:00,3335.120,3340.360,3335.670,3322.720,92277248.0,...,3368.558,3440.622,92103587.2,115836250.4,141973738.0
2016-12-22 22:00:00,3335.120,3340.360,3335.670,3322.720,92277248.0,...,3368.558,3440.622,92103587.2,115836250.4,141973738.0
2016-12-22 23:00:00,3335.120,3340.360,3335.670,3322.720,92277248.0,...,3368.558,3440.622,92103587.2,115836250.4,141973738.0
2016-12-23 00:00:00,3333.400,3334.890,3307.600,3300.880,97444712.0,...,3349.948,3429.937,93437446.4,110550392.0,139164898.4

In [58]:
goertek_m=pd.read_csv('data/gertek_2016_d.csv',parse_dates=True,index_col='date')

In [59]:
goertek_m.head()

,open,high,close,low,volume,...,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,
2016-12-23,3333.40,3334.89,3307.60,3300.88,97444712.0,...,3349.948,3429.937,93437446.4,110550392.0,139164898.4
2016-12-22,3335.12,3340.36,3335.67,3322.72,92277248.0,...,3368.558,3440.622,92103587.2,115836250.4,141973738.0
2016-12-21,3313.75,3342.48,3338.54,3313.75,108255000.0,...,3382.005,3448.276,96640270.4,118346918.4,144647190.8
2016-12-20,3328.30,3329.10,3309.06,3289.27,87569592.0,...,3395.726,3455.085,99790819.2,118955928.8,147353865.6
2016-12-19,3342.34,3344.86,3328.98,3325.00,81640680.0,...,3410.735,3463.050,106497921.6,121751879.2,151401558.8

In [60]:
goertek_resample=goertek_m.resample('30Min') #pandas 0.18 http://pandas.pydata.org/pandas-docs/version/0.18.0/whatsnew.html#resample-api

In [61]:
type(goertek_resample)

pandas.core.resample.DatetimeIndexResampler

In [62]:
goertek_resample.mean()

,open,high,close,low,volume,...,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,
2016-01-04 00:00:00,3725.856,3726.245,3469.066,3468.949,115370672.0,...,3773.143,3726.205,115749635.2,145030968.0,138741052.8
2016-01-04 00:30:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
2016-01-04 01:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
2016-01-04 01:30:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
2016-01-04 02:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2016-12-22 22:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
2016-12-22 22:30:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
2016-12-22 23:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
2016-12-22 23:30:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
2016-12-23 00:00:00,3333.400,3334.890,3307.600,3300.880,97444712.0,...,3349.948,3429.937,93437446.4,110550392.0,139164898.4

+ B, BM: This stands for business day, business month. These are the working
days of the month, that is, any day that is not a holiday or a weekend.
+  D, W, M, Q, A: It stands for calendar day, week, month, quarter, year-end.
+  H, T, S, L, U: It stands for hour, minute, second, millisecond, and
microsecond.

### Stock datas case

In [63]:
#!pip install tushare

#!pip install --force-reinstall --upgrade tushare

In [64]:
#!ls -l ./

In [2]:
import tushare as ts
from datetime import datetime

In [3]:
auto_list=['000625','600104','002594','601238']
#auto_var=['changan','sqjt','byd','gqjt']

In [15]:
#for stock,var in zip(auto_list,auto_var):
#    globals()[var] = ts.get_h_data(stock,'2016-01-01','2016-12-23')
changan=ts.get_h_data('000625','2016-01-01','2016-12-23')

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2
[Getting data:]#

In [5]:
sqjt=ts.get_h_data('600104','2016-01-01','2016-12-23')

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2
[Getting data:]#

In [6]:
byd=ts.get_h_data('002594','2016-01-01','2016-12-23')

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2
[Getting data:]#

In [7]:
gqjt=ts.get_h_data('601238','2016-01-01','2016-12-23')

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2
[Getting data:]#<urlopen error timed out>

In [ ]:
### 数据找不到了（改不出来）

In [13]:
#changan=pd.read_csv('../data/changan.csv',index_col='date',parse_dates=True)


changan.head()

Empty DataFrame
Columns: []
Index: []

In [10]:
changan.describe()

ValueError: Cannot describe a DataFrame without columns

In [11]:
changan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame

In [77]:
changan['close'].plot(legend=True,figsize=(10,4))

KeyError: 'close'

In [78]:
changan['volume'].plot(legend=True,figsize=(10,4))

KeyError: 'volume'

In [14]:
ma_day = [10,20,50]

for ma in ma_day:
    column_name = "MA for %s days" %(str(ma))
    changan[column_name] = changan['close'].rolling(window=ma).mean()
    #changan[column_name] = pd.rolling_mean(changan['close'],ma)

KeyError: 'close'

In [ ]:
changan[['close','MA for 10 days','MA for 20 days','MA for 50 days']].plot(subplots=False,figsize=(10,4))

In [ ]:
changan['Daily Return'] = changan['close'].pct_change()
changan['Daily Return'].plot(figsize=(10,4),legend=True,linestyle='--',marker='o')

In [ ]:
sns.distplot(changan['Daily Return'].dropna(),bins=100, color = 'purple');

In [ ]:
changan['Daily Return'].hist(bins=100)

In [ ]:
#gqjt=pd.read_csv('../data/gqjt_2016.csv',index_col='date',parse_dates=True)

In [ ]:
closing_df = pd.DataFrame({'changan':changan['close'],'gqjt':gqjt['close'],'byd':byd['close']})

In [ ]:
closing_df.head()

In [ ]:
auto_rets = closing_df.pct_change()

In [ ]:
auto_rets.head()

In [ ]:
sns.jointplot('changan','changan',auto_rets,
              kind='scatter',color = 'seagreen')

In [ ]:
sns.jointplot('changan','byd',auto_rets,kind='scatter')

In [ ]:
sns.pairplot(auto_rets.dropna())

In [ ]:
sns.corrplot(closing_df,annot=True)

In [ ]:
corr=closing_df.corr()
corr

In [ ]:
sns.heatmap(corr,annot=True)

In [ ]:
sns.heatmap?